In [64]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests as rq
import re
import lxml.html as lh

In [94]:
page = rq.get('https://www.internetworldstats.com/list2.htm#a-c')
soup = bs(page.content,'html.parser')

In [95]:
doc = lh.fromstring(page.content)

In [96]:
tr_elements = doc.xpath('//tr')

In [97]:
tr_elements[15].text_content()

'\r\n\r\nAfrica\r\n\r\n\r\n--\r\n\r\n\r\n30,221,532\r\n\r\n\r\n1,287,914,329\r\n\r\n\r\n453,329,534\r\n\r\n\r\n35.2\r\n%\r\n\r\n\r\nDec/2017\r\n\r\n'

In [29]:
len(tr_elements)

312

In [36]:
tr_elements[289].text_content()

'\r\n\r\nZimbabwe\r\n\r\n\r\nZW\r\n\r\n\r\n390,784\r\n\r\n\r\n14,546,961\r\n\r\n\r\n6,759,032\r\n\r\n\r\n46.5 %\r\n\r\n\r\nJun/2016\r\n\r\n'

In [39]:
tr_elements[285].text_content().replace('\r')

'\r\n\r\nWallis and\r\nFutuna\r\n\r\n\r\nWF\r\n\r\n\r\n274\r\n\r\n\r\n15,561\r\n\r\n\r\n1,337\r\n\r\n\r\n8.6\r\n%\r\n\r\n\r\nDec/2013\r\n\r\n'

In [57]:
tr_elements[13].text_content()

'\r'

In [100]:
data = []
for table in tr_elements[13:290]:
    data.append(table.text_content())

In [155]:
print(len(data))

277

In [80]:
re.sub('[a-z A-Z]\r\n[a-z A-Z]','',data[0])

'\r\n\r\nCountry or\r\nRegion Name\r\n\r\n\r\nSym\r\n-bol\r\n\r\n\r\nSize\r\n(sq. km.)\r\n\r\n\r\nPopulation\r\n(2018 est.)\r\n\r\n\r\nInternet\r\nUsers\r\n\r\n\r\nInternet\r\nPenetration\r\n\r\n\r\nData\r\ndate\r\n\r\n'

In [157]:
data2 = []
for idx in range(len(data[:205])):
    string = data[idx]
    s = string.split('\r\n')
    rmv = []
    print(s)
    for i in range(len(s)-1):
        if s[i] != '' and s[i+1]!='':
            s[i] += ' ' + s[i+1]
            rmv.append(s[i+1])
            i+=1
    print(rmv)
#     s = list(s)
    for i in range(len(rmv)):
        if(len(s)>0):
            s.remove(rmv[i])
    data2.append(s)
    print(data2)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

ValueError: list.remove(x): x not in list

In [198]:
data2 = []
for idx in range(len(data)):
    try:
        string = data[idx]
        s = string.split('\r\n')
        rmv = []
#         print(s)
        for i in range(len(s)-1):
            if s[i] != '' and s[i+1]!='':
                s[i] += ' ' + s[i+1]
                rmv.append(s[i+1])
                i+=1
#         print(rmv)
    #     s = list(s)
        for i in range(len(rmv)):
            if(len(s)>0):
                s.remove(rmv[i])
        data2.append(s)
#         print(data2)
    except:
        pass

In [199]:
for i in range(len(data2)):
    data2[i] = data2[i].remove('')
#     print(data2[i].shape)

AttributeError: 'NoneType' object has no attribute 'shape'

In [180]:
# data2[0].remove('')
for idx in range(len(data2)):
    data2[idx] = [x for x in data2[idx] if x!='']

In [190]:
pd_data = pd.DataFrame(data2)
pd_data.columns = pd_data.iloc[0]

In [193]:
pd_data = pd_data.drop(0)

In [206]:
pd_data = pd_data.drop([65,66,67,127,128,129,201,202])

In [239]:
# pd_data = pd_data.drop([129,67,202])
pd_data.head()

,Country or Region Name,Symbol,Size (sq. km.),Population (2018 est.),Internet Users,Internet Penetration,data date
1,Afghanistan,AF,"645,807","36,373,176","5,700,905",15.7 %,Dec/2017
2,Africa,--,"30,221,532","1,287,914,329","453,329,534",35.2 %,Dec/2017
3,Aland Islands,AX,"1,580","28,666",n/a,n/a,Dec/2014
4,Albania,AL,"28,748","2,911,428","1,916,233",65.8 %,Mar/2017
5,Algeria,DZ,"2,381,741","42,008,054","18,580,000",44.2 %,Mar/2017

In [218]:
pd_data = pd_data.dropna(axis='columns')

In [238]:
pd_data.columns = ['Country or Region Name',               'Symbol',
               'Size (sq. km.)', 'Population (2018 est.)',
               'Internet Users',   'Internet Penetration',
                           'data date']
pd_data.head()

,Country or Region Name,Symbol,Size (sq. km.),Population (2018 est.),Internet Users,Internet Penetration,data date
1,Afghanistan,AF,"645,807","36,373,176","5,700,905",15.7 %,Dec/2017
2,Africa,--,"30,221,532","1,287,914,329","453,329,534",35.2 %,Dec/2017
3,Aland Islands,AX,"1,580","28,666",n/a,n/a,Dec/2014
4,Albania,AL,"28,748","2,911,428","1,916,233",65.8 %,Mar/2017
5,Algeria,DZ,"2,381,741","42,008,054","18,580,000",44.2 %,Mar/2017

In [237]:
pd_data.to_csv('internet_country.csv',index=False)